@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body{
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 5em;
    margin: 10%;
    font-family: "League Spartan", sans-serif;
}

main{
    display: flex;
    justify-content: space-between;
}

.container main .about {
    max-width: 30em;
}

.container main .about h1{
    color: var(--primary-color);
    position: relative;
    left: 0;
    font-size: 4vw;
    animation: leftToRight 1s;
}

.container main .about p{
    margin-top: 20px;
    color: var(--primary-neutral-color);
    font-size: clamp(1.1vw , 120%, 4vw);
    position: relative;
    left: 0;
    animation: leftToRight 1.2s;
}

.container main .ratings{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.container main .ratings .rating-item span{
    transform: scale(1.2);
}

.container main .ratings .rating-item{
    background-color: var(--secondary-neutral-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    padding: 20px 40px;
    border-radius: 10px;
    gap: 25px;
    flex: 1;
    transition: 0.1s;
    position: relative;
    left: 0;
    animation: rightToLeft 1s;
}

.container main .ratings .rating-item:nth-child(2){
    position: relative;
    left: 60px;
    animation: rightToLeft 1.2s;
}

.container main .ratings .rating-item:nth-child(3){
    position: relative;
    left: 80px;
    animation: rightToLeft 1.4s;
}

.container .cards{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr; 
    width: 100%;
    gap: 2vw;
}

.container .cards .card{
    display: flex;
    flex-direction: column;
    max-width: 33em;
    max-height: 17em;
    background-color: var(--primary-color);
    color: var(--base-color);
    padding: 32px 50px;
    border-radius: 10px;
    flex: 1;
    position: relative;
    top: 0;
    animation: downToUp 1s, twistUp 0.4s 1.2s;
}

.container .cards .card:nth-child(2){
    position: relative;
    top: 20px;
    animation: downToUp 1.2s,  twistUp 0.3s 1.4s;
}

.container .cards .card:nth-child(3){
    position: relative;
    top: 40px;
    animation: downToUp 1.4s,  twistUp 0.2s 1.6s;
}

.container .cards .card .user-info{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    margin-top: 2px;
    margin-bottom: 20px;
}

.container .cards .card .user-info span{
    color: var(--contrast-color);
    font-size: 1rem;
}

.container .cards .card .user-info img{
    max-width: 2.2em;
    border-radius: 50%;
}

.container .cards .card p:last-child{
    font-size: 1.1em;
    line-height: 1.5;
    width: 100%;
    max-width: 25em;
}

@keyframes rightToLeft{
    0%{
        left: 700px;
        opacity: 0;
    }
}

@keyframes leftToRight{
    0%{
        left: -800px;
        opacity: 0;
    }
}

@keyframes downToUp{
    0%{
        top: 700px;
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes twistUp{
    0%{transform: translateY(0)}

    50%{transform: translateY(-10px);}
}

@media(max-width: 1200px){
    
    body{
        overflow-y: scroll;
    }

    .container {
        margin: 20% auto;
    }

    .container main{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 50px;
    }

    .container main .about{
        max-width: 50%;
        align-self: center;
    }

    .container main .about h1{
        font-size: calc(1em + 5vw);
    }

    .container main .about p{
        font-size: calc(1em + 1vw);
    }

    .container main .ratings {
        gap: 20px;
    }

    .container main .ratings .rating-item{
        flex-wrap: wrap;
    }

    .container main .ratings .rating-item:nth-child(2),
    .container main .ratings .rating-item:nth-child(3){
        left: 0;
    }

    .container .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .container .cards .card:nth-child(2),
    .container .cards .card:nth-child(3) {
        top: 0;
    }
}
